{% extends 'base.html.twig' %}

{% block title %} {{product.name}}{% endblock %}

{% block body %}
<h1> {{product.name}}</h1>


<div class="row">
    
    
            <div class="col-md-4">
            
                <img src="/uploads/files/{{product.illustration}}" alt="{{ product.name}} " class="img-fluid">
                
                
            </div>
            
            <div class="col-md-8">
                <h5>{{ product.name}}</h5>
                <span> {{product.surnom}}</span>
                <span> {{product.description}}</span>
                <hr>
                <span> {{(product.price / 100)| number_format(2,',')  }} €</span>
                <div>
                    <a href="{{ path('app_add_to_cart', {'id' : product.id }) }}" class="btn btn-primary mt-3"> Ajouter au panier </a>
                </div>
            </div>

            <br><br><br>
            
            <a class="mt-3 mb-3" href="{{ path('app_comment_new', {'slug': product.slug}) }}">Ajouter un avis</a>
            <br><br>
            <hr>

            <div>
                <h3>Les avis</h3>
                <div>
                    {% if comments|length > 0 %}
                        {% for comment in comments %}
                            <div class="card mb-3">
                                <div class="card-header">
                                    {{ comment.user.firstname }}
                                </div>
                                <div class="card-body">
                                    <p class="card-text">{{ comment.content }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p>Soyez la première personne à laisser un avis sur ce produit !</p>
                    {% endif %}
                </div>
            </div>


</div>


{% endblock %}